@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
:root {
    --main-text-font: 'Roboto', sans-serif;
    --main2-text-font: 'Open Sans', sans-serif;
    --main4-text-font: 'PT Sans', sans-serif;
    --main-color: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
}

header {
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.top {
    position: absolute;
    width: 100%;
    height: 60px;
    background-image: url(../images/top6.jpg);
}

.header-top {
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}

.header-top ul {
    display: flex;
    margin-bottom: 50%;
    margin-left: 90%;
}

.header-top ul li {
    font-size: 25px;
    margin: 12px 0 0 12px;
    font-family: var(--main2-text-font);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 30px;
}

.header-top ul li a {
    font-family: var(--main2-text-font);
    color: #000;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
}

.header-top ul li a:hover {
    background-color: #fff;
    color: #5b5efa;
}

.header-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    text-align: center;
}

.header-text h1 {
    font-family: var(--main2-text-font);
    color: #000;
    margin-bottom: 20px;
    font-size: 35px;
}

.header-text p {
    font-family: var(--main4-text-font);
    margin-bottom: 40px;
    font-size: 25px;
}

.header-text button {
    width: 250px;
    height: 60px;
    margin-top: 20px;
    margin-left: 40px;
    background-color: transparent;
    font-family: var(--main2-text-font);
    border: 2px solid;
    color: #000;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.header-text button:hover {
    background-color: #fff;
    color: #5b5efa;
}

@media(max-with:900px) {
    .header-top ul {
        position: fixed;
        width: 200px;
        height: 100vh;
    }
    .header-top ul li {
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .header-top {
        padding: 0 10px;
    }
}