.navbar .navbar-brand{
    float: left;
    color: whitesmoke;
}
.navbar{
    background-color: blueviolet;
    /* position: absolute; */
}
.navbar {
    background-color: #378C3F;
    position: fixed;
    width: 100%;
    top: 0px;
}

.content{
    background-color: #5b5efa;
    padding: 5% 20%;
    /* position: relative; */
}

.content .color{
    background-color: #FFF21e;
    padding: 25px;
}
.content .color .color1{
    background-color: white;
}